body {
  background-color: hsl(210, 36%, 96%);
  margin-top: 5rem;
  margin-bottom: 5rem;
  /* width: 100%; */
}
#wrapperContainer {
  /* margin-top: 9rem; */
}
.review-items {
  background-color: white;
  border: 3px solid white;
  margin: 2rem auto;
  width: 35%;
  padding: 1rem 2rem;
  box-shadow: inset;
  border-radius: 3%;
  position: relative;
}
.reviews {
  text-align: center;
}
.reviews h1 {
  font-size: 40px;
  line-height: 1.5;
  color: #222;
}
.reviewLine {
  width: 75px;
  background-color: blueviolet;
  display: flex;
  text-align: center;
  margin: auto;
}
.reviewLine span {
  width: 75px;
  height: 0.2rem;
  background-color: hsl(205, 78%, 60%);
}
.content-image {
  display: block;
  text-align: center;
}
.content-image1 {
  display: block;
  text-align: center;
}
img {
  width: 180px;
  height: 150px;
  border-radius: 50%;
}

.name {
  font-weight: bolder;
  color: black;
  font-size: 1.3rem;
  text-align: center;
}
.role {
  color: hsl(205, 89%, 70%);
  text-align: center;
  text-transform: uppercase;
  line-height: 0.3rem;
}
.describe {
  color: hsl(210, 22%, 49%);
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}
button {
  text-align: center;
  display: flex;
  margin: auto;
  justify-content: center;
  background-color: hsl(205, 100%, 96%);
  cursor: pointer;
  padding: 0.2rem 0.4rem;
  border-radius: 0.7rem;
  border-color: hsl(205, 89%, 70%);
  color: hsl(205, 89%, 70%);
}

.arrows {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.arrow-left {
  height: 3rem;
  width: 20px;
  row-gap: 0.2rem;
  flex-direction: column;
  display: flex;
  cursor: pointer;
  text-align: center;
  /* margin: auto; */
}
.arrow-left span {
  width: 10px;
  height: 0.3rem;

  background-color: hsl(205, 89%, 70%);
  /* transform-origin: 55%; */

  /* position: absolute;
  left: o;
  bottom: 0; */
}
.arrow-left span:nth-child(1) {
  transform: skewY(-40deg);
  background-color: hsl(205, 89%, 70%);
}
.arrow-left span:nth-child(2) {
  background-color: hsl(205, 89%, 70%);
  transform: skewY(40deg);
}
.arrow-right {
  height: 3rem;
  width: 20px;
  row-gap: 0.2rem;
  flex-direction: column;
  display: flex;
  cursor: pointer;
  text-align: center;
  /* margin: auto; */
}
.arrow-right span {
  width: 10px;
  height: 0.3rem;
  background-color: hsl(205, 89%, 70%);
}
.arrow-right span:nth-child(1) {
  transform: skewY(40deg);
  background-color: hsl(205, 89%, 70%);
}
.arrow-right span:nth-child(2) {
  background-color: hsl(205, 89%, 70%);
  transform: skewY(-38deg);
}
